.contactsBlock {
    height: 100vh;
    background-color: #f1dee2;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #c8d0d7;
}

.form {
    min-width: 260px;
    max-width: 350px;
    min-height: 100px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textarea {
    height: 40%;
}

.buttonSend {
    background-color: #d5dee5;
    height: 40px;
    width: 100px;
    margin: 20px;
}