@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skill {
    width: 250px;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 640px){
        justify-content: center;
    }
    .icon {
        height: 60px;
        width: 60px;
        background-color: $textColor;
    }
    .description {

    }

}


