@import '../../styles/sass/variables';

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    color: $textColor;

    text-transform: uppercase;
    margin: 0 0 30px;
    position: relative;
.title h2 {
    margin: 0;
}
&::before {
    position: absolute;
    content: '';
    background: $primaryColor;
    width: 75px;
    height: 2px;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 50%);
}
}



