.skillsBlock {
    height: 100vh;
    background-color: #f1dee2;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #c8d0d7;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}