.mainBlock {
    height: 100vh;
    background-color: #e9c5c5;
}

.text {
    width: 355px;
    background-color: rgba(255, 255, 255, 0.73);
}
.photo {
    width: 355px;
    height: 455px;
    background-color: rgba(255, 255, 255, 0.45);
}