@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins';

.mainBlock {
    height: 100vh;
    background-color: $bgColor;
}

.text {
    width: 355px;
    background-color: $bgColor;
    color: $textColor;
    font-family: $fontFamily;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.welcome{
    padding: 12px 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;

}
.name{
text-transform: uppercase;
    line-height: 2;
    font-weight: 800;
    padding: 0 25px;
    letter-spacing: 0.5px;

}
.bgName{
    font-size: 70px;
    left: 0;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    right: -189px;
    top: 49%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    text-align: center!important;
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.prof{
    padding: 50px 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.photo {
    width: 355px;
    height: 455px;
    background-color: #f1dee2;
}