.mainBlock {
    height: 100vh;
    background-color: #c8d0d7
;
}

.text {
    width: 355px;
    background-color: #f1dee2;
}
.photo {
    width: 355px;
    height: 455px;
    background-color: #f1dee2;
}