.mainBlock {
    height: 100vh;
    background-color: #e9c5c5;
}
.container{
border: 1px solid ;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text {
    width: 355px;
    background-color: rgba(255, 255, 255, 0.73);
}
.photo {
    width: 355px;
    height: 455px;
    background-color: rgba(255, 255, 255, 0.45);
}