@import '../../common/styles/sass/variables';

.project {
    width: 450px;
    background-color: $bgSecondColor;
    .imgContainer {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.3;
        }
        .button {
            font-family: 'Poppins', sans-serif;
            line-height: 40px;
            font-size: 1rem;
            font-weight: 500;
            color: #fff;
            background-color: $bgSecondColor;
            height: 40px;
            width: 100px;
            position: relative;
        }
    }
    .projectInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 22px 20px;
        .projectTitle {
            font-family: 'Poppins', sans-serif;
            line-height: 25px;
            font-size: 1.75rem;
            margin-bottom: 10px;
            font-weight: 500;
            margin-top: 20px;
            color: #fff;
        }
        .description {
            font-family: 'Poppins', sans-serif;
            margin: 15px 0 5px;
            font-size: 15px;
            color: #fff;
            font-weight: 400;
            line-height: 1.7;
        }
    }
}













