@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
    width: 450px;
    background-color: $bgSecondColor;
    .imgContainer {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: $bgSecondColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.3;
        }
        .button {
            @include text($fontFamily, 1rem, 500, 40px);
            background-color: $bgSecondColor;
            height: 40px;
            width: 100px;
            position: relative;
        }
    }
    .projectInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 22px 20px;
        .projectTitle {
            @include text($fontFamily, 1.75rem, 500, 25px);
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .description {
            @include text($fontFamily, 15px, 400, 1.7);
            margin: 15px 0 5px;
        }
    }
}













