@import './variables';

@mixin text( $fontFamily, $fontSize, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin container() {
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
}

@mixin flex ($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}
// background для картинок
@mixin bgSettings () {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bgPsevdo (){
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}