.footerBlock {
    min-height: 150px;
    background-color: #c8d0d7;

}

.footerContainer {
    flex-direction: column;
    /*justify-content: flex-start;*/
}

.footer {
    width: 60%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
