@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins.scss';
.footerBlock {
    min-height: 150px;
    background-color: $bgColor;

}

.footerContainer {
    flex-direction: column;
    /*justify-content: flex-start;*/
}

.footer {
    width: 60%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
