.footerBlock {
    height: 80px;
    background-color: #c8d0d7;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}