.projectsBlock {
    min-height: 100vh;
    background-color: #111;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 12px;
}

@media screen and (max-width: 1140px){
    .projects {
        justify-content: center;
    }
}