.projectsBlock {
    min-height: 100vh;
    background-color: #343a40;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 840px){
    .projects {
        justify-content: center;
    }
}