.projectsBlock {
    min-height: 100vh;
    background-color: #c8d0d7;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f1dee2;
    display: flex;
    flex-wrap: wrap;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}